:root {
    --cor-primaria-bg: #00030C;
    --cor-secundaria-botao: #167BF7;
    --cor-terciaria-texto: #FFFFFF;
    --cor-extra-cinza: #C0C0C0;
    --fonte-principal: 'Inter';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria-bg);
    color: var(--cor-terciaria-texto);
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.promocao {
    /* display: flex;
    flex-direction: column; */

    background-image: url("./Assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2em;
    align-items: center;
    text-align: center;
    
    grid-template-columns: 50% 50%;
}

/* .container__caixa {
     margin: 6em; 
} */

.promocao__titulo {
    font-size: 1.75em;
    font-weight: 700;
}

.main__promocao__imagem {
    margin: 1em 0 1em 0;
}

.promocao__botao {
    background-color: var(--cor-secundaria-botao);
    color: var(--cor-terciaria-texto);
    border-radius: 8px;
    line-height: 1.5em;
    font-size: 1em;
    text-align: center;
    /* width:40%; */
    padding: 1em;
    text-decoration: none;
    display: block;
    margin: 1em 0 1em 0;
}

.botao__tranparente {
    background-color: transparent;
    border: 1px solid #FFFFFF;

}

.promocao__aviso {
    color: var(--cor-extra-cinza);
    font-size: 0.75em;
    line-height: 14.5px;
    text-align: center;
    width: 380px;
    height: 15px;
}



.secundario {
    align-items: center;
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--cor-terciaria-texto);
    margin-bottom: 0.1em;
}

.descricao__paragrafro {
    color: var(--cor-extra-cinza);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}


/* .dipositivos {

} */

.dispositivos__titulo {
    font-family: var(--fonte-principal);
    font-size: 3em;
    font-weight: 700;
    color: var(--cor-terciaria-texto);
    text-align: center;
    margin: 1em 0 1em 0;
}

.dispositivos__lista{
    display:flex;
    justify-content: center;
    list-style-type: none;
}

.dispositivos__lista__item {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 9em 0 5em 0;
    width: 75rem;
}

.rodape_logo {
    width: 10%;
    margin: 1em;
}

.rodape__menu {
    margin: 1.5em;
}

.rodape__menu__lista{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 75rem;
}

.rodape__menu__lista__item {
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
}


.rodape_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 6rem;
}

.rodape__copyright__texto__item {
    font-size: 0.875em;
    color: var(--cor-extra-cinza);
    text-align: center;
    list-style-type: none;
    margin: 1.5em;
}


